extends ./../../layouts/main.pug
block content 
  each club in clubs
    div.club
      a(href="http://localhost:8080/clubs/" + club.clubName)= club.clubName
      p= club.clubDesc
      p= club.clubDues
      img(src=club.clubPics)
      p= club.clubDate
      //- ul.events
      //-   each event in clubEvents
      //-     li.event= event
      //- ul.members
      //-   each member in clubMembers
      //-     li.member= member
